/* Common */
.no-top-left-right-bottom {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
:focus {
  outline: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}
.show {
  display: block;
}
.hide {
  display: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/*  Body */
body {
  background: url('../images/background.png') repeat;
  background-size: cover;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
/* Detail page */
.navigation-bar {
  background: url('../images/navbar/background.png') repeat-x;
  height: 64px;
}
.title {
  height: 30px;
  margin: 0px 30px;
  padding: 20px 0px 0px 0px;
  text-align: center;
}
.profile-image {
  float: left;
}
.profile-image img {
  width: 30px;
  height: 30px;
}
.profile-image span {
  color: white;
  font-size: 20px;
  vertical-align: middle;
}
.create-at {
  display: inline-block;
  text-align: center;
  color: #b5b5b5;
  font-size: 12px;
  padding: 8px 0px;
}
.close-button {
  float: right;
  padding: 6px 0px;
}
.close-button img {
  width: 18px;
  height: 18px;
}
/* Main video */
.main-video {
  padding-top: 60px;
  text-align: center;
}
.slideshow {
  display: inline-block;
  text-align: center;
  background: transparent;
  margin: 0 auto;
  overflow: hidden;
}
.slideshow img {
  display: inline-block;
}
.slideshow-description {
  margin: 100px 40px 0px;
  color: white;
  font-size: 15px;
  text-align: center;
}
.overlay {
  background: url('../images/main/overlay.png') repeat-x;
  background-size: cover;
  padding-bottom: 50px;
}
.overlay-content {
  text-align: center;
  margin: 25px 58px 0px;
}
.overlay-content > div {
  display: inline-block;
  padding: 0px 10px;
}
.overlay-content img {
  width: 50px;
  height: 50px;
}
.text-overlay {
  color: white;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}
.text-overlay.inactive {
  opacity: 0.2;
}
.status {
  background: url('../images/body-background.png') repeat-x;
  background-size: cover;
}
.tabs {
  margin: 0px 17px;
  padding: 5px 0px;
}
.tabs img {
  width: 30px;
  height: 30px;
}
.tab-content > div {
  display: inline-block;
  padding: 0px 10px;
}
.text-tab {
  color: #CAD9E3;
  font-size: 11px;
  text-align: center;
  padding: 5px 0px;
}
.hashtags {
  border-top: 1px solid #177ac4;
  color: #09F1E0;
  font-size: 15px;
  text-align: justify;
  margin: 0px 17px;
  padding: 5px 0px;
}
.hashtags a {
  color: #09F1E0;
  cursor: pointer;
}
.hashtags-btn {
  border: 1px solid #09F1E0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #024976;
  padding: 5px;
  text-align: center;
}
.description {
  border-top: 1px solid #177ac4;
  color: white;
  font-size: 15px;
  text-align: justify;
  margin: 0px 17px;
  padding: 5px 0px;
}
/* Home page */
.list-detail {
  text-align: center;
  color: #09F1E0;
  margin: 10px 0px;
}
.list-detail span {
  display: inline-block;
  border: 1px solid #09F1E0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}
/* Video popup */
.show-video {
  position: fixed;
  background: black;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  text-align: center;
  z-index: 9999;
}
