<div class="container-fluid">
    <div id="background">
        <div class="navigation-bar">
            <div class="title">
                <div class="profile-image">
                    <img ng-src="{{imageUrl}}" class="img-circle"/>
                    <span>{{detail.snowball.user.name}}</span>
                </div>
                <div class="create-at">{{detail.snowball.created_at | lastAccessFilter}}</div>
                <div class="close-button">
                    <img src="../images/navbar/icon-close.png">
                </div>
            </div>
        </div>
        <div class="main-video">
            <div class="slideshow" slide-show-directive detail="detail"
                 on-play-click="openVideo($item, $detail)" after-change="changeData($data, $index)">
            </div>
            <div class="slideshow-description">
                To collaborate on this snowball, Eternal {{detail.snowball.user.name}}, click on the buttons below
            </div>
            <div class="overlay">
                <div class="overlay-content">
                    <div>
                        <div><img src="../images/main/addoverlay.png"/></div>
                        <div class="text-overlay inactive">Overlay</div>
                    </div>
                    <div>
                        <div><img src="../images/main/addvideo.png"/></div>
                        <div class="text-overlay">Add video</div>
                    </div>
                    <div>
                        <div><img src="../images/main/addaudio.png"/></div>
                        <div class="text-overlay inactive">Add audio</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="status">
        <div class="tabs">
            <div class="tab-content float-left">
                <div>
                    <div><img src="../images/status/editor.png"/></div>
                    <div class="text-tab">Editor</div>
                </div>
                <div>
                    <div><img src="../images/status/setup.png"/></div>
                    <div class="text-tab">Setup</div>
                </div>
                <div>
                    <div><img src="../images/status/invite.png"/></div>
                    <div class="text-tab">Invite</div>
                </div>
            </div>
            <div class="tab-content float-right">
                <div>
                    <div><img src="../images/status/like.png"/></div>
                    <div class="text-tab">{{currentItem.collaboration.number_of_likes}}</div>
                </div>
                <div>
                    <div><img src="../images/status/forward.png"/></div>
                    <div class="text-tab">{{currentItem.collaboration.number_of_views}}</div>
                </div>
            </div>
        </div>
        <div class="hashtags clear-both">
            <div class="row">
                <div class="col-xs-9" hashtag-directive hashtags="detail.snowball.hash_tag_names"></div>
                <div class="col-xs-3">
                    <div class="hashtags-btn">
                        Add Tags
                    </div>
                </div>
            </div>

        </div>
        <div class="description">
            {{detail.snowball.description}}
        </div>
    </div>
</div>

<show-video-directive item="playItem" detail="detail"></show-video-directive>